* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: rgb(240, 238, 238);
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    font-family:Helvetica,Arial,sans-serif;
    font-size: 0.9rem;
}
i{
    font: 1rem sans-serif;
}

nav {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .left {
    height: 45px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon:hover{
    background-color: rgb(107, 106, 106);
}

nav .left .logo{
    height: 0px;
    width: 0px;

}
img{
    width: 100%;
}
nav .center {
    height: 90%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(158, 156, 156, 0.3);
}
nav .center:focus-within{
    background-color: rgb(240, 238, 238);
    color: black;
}
nav .center .input{
    height: 40px;
    width: 85%;

}
nav .center .input input{
    width: 100%;
    height: 90%;
    border: none;
    background-color: rgba(158, 156, 156, 0);
}
nav .center .input input:focus-visible{
    outline: none;
    background-color: rgb(240, 238, 238);
}

nav .right {
    height: 45px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box {
    height: 90%;
    width: 100%;
    display: flex;
}

.side {
    height: 90%;
    width: 20vw;
    min-width: 182px;
    transition: all 0.2s ease;
}

.main {
    height: 100%;
    width: 80vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side_active{
    width: 5vw;
    min-width: 50px;
    transition: all 0.2s ease;
}

.sidecontent {
display: flex;
flex-direction: column;
align-items: center;
justify-content: left;
}
.sidecontent i {
    margin: 0 25px;
}
.side_active .sidecontent i {
    margin: 0 auto;
}

#s1 {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

#s2 {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.445);
}
.side_active #s2 div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#s3 {
    height: 16vh;
    width: 100%;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.445);
}
.side_active #s3 div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#s4 {
    height: 25vh;
    width: 100%;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.445);
}

#s5 {
    height: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.s1content {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: white;
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.side_active .s1content{
    width: 50px;
    transition: all 0.3s ease;
}
.side_active span{
    display: none;
}
.s1content i{
    font-size: 30px;
    margin: 0px 15px;
    color: aqua;
}

.s2content {
    height: 28.84px;
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;

}

.s2content:hover {
    background-color: rgb(87, 85, 85);
}

.s2content:active {
    background-color: rgb(158, 156, 156);

}

.s3content {
    height: 28.84px;
    width: 95%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.s3content:hover {
    background-color: rgb(87, 85, 85);
}

.s3content:active {
    background-color: rgb(158, 156, 156);
}
#s3c1:hover{
    background-color: rgb(15, 15, 15);
    cursor: default;
}
#s3c1 span,
#s4c1 span,
#s4c2 span
{
    padding: 0px 25px;
}
.s4content{
    padding-left: 25px;
}
#s4c1 {
    height: 28.84px;
    width: 95%;
}

#s4c2 {
    height: 30px;
    width: 95%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#s4c3 {
    height: 85px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pro {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-right: 5px;
    overflow: hidden;
}

.s5content {
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#p1 {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p1icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.p1icon:hover{
    background-color: rgba(158, 156, 156, 0.534);
}

#p1 .left {
    height: 70%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#i1,#ri4{
    width: 23px;
    border-radius: 5px;
}
#i2,#ri5{
    width: 13px;
    border-radius: 5px;

}

#p1 .right {
    height: 70%;
    width: 220px;
    margin-right: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#ri1{
    height: 90%;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#p2 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgba(158, 156, 156, 0.3);
}
.p2content{
    height: 100%;
    width: 25%;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.p2content:hover{
    background-color: rgba(158, 156, 156, 0.534);
}
.p2content i{
    padding-right: 15px;
}
.contentbox{
    height: 90vh;
    overflow: scroll;
}
.contentbox::-webkit-scrollbar{
    background-color: rgb(34, 34, 34);
    width: 6px;
    height: 0px;
}
.contentbox::-webkit-scrollbar-thumb{
    background-color: rgba(158, 156, 156, 0.534);
    width: 1px;
    border-radius: 10px;
}

.content {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: gray;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.445);
}
.content:hover{
    box-shadow: 0px 1px 8px 0px rgb(194, 193, 193);
    color: white;
}
.content .left{
    height: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.from{
    height: 100%;
    width: 65%;
    padding-left: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}
.content .center{
    height: 100%;
    max-width:calc(100% - calc(200px + 80px)) ;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}
.content:hover .center{
    max-width:calc(100% - calc(200px + 160px)) ;
}
.sub{
    height: 100%;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
}
.summery{
    height: 100%;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
    overflow: hidden;
}
.content .right{
    min-width: 80px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.content:hover .right{
    min-width: 160px;
    padding: 0 0;
}
.time{
    height: 100%;
    display: flex;
    align-items: center;
}
.content:hover .right .time{
    display: none;
}
.content .right .hedden{
    display: none;
    font-size: 1rem;
    min-width: 100px;
}
.content:hover .right .hedden{
    display: flex;
    align-items: center;
    justify-content: right;
}
@media screen and (max-width: 681px) {
    body{
        font-size: 0.7rem;
    }
    .content .center{
        flex-direction: column;
        align-items:unset;
        max-width:calc(100% - calc(100px + 20px)) ;

    }
    .content .left{
        min-width: 100px;
    }
    .content .right{
        min-width: 35px;
        padding-right: 2px;
        font-size: 0.5rem;
        position: relative;
        top: 0;
    }
    .content:hover .center{
        max-width:calc(100% - calc(100px + 160px)) ;
    }
    .content .left .lp1{
        display: none;
    }
    .side_active{
        display: none;
    }
    .side{
        /* box-shadow: 200px 0px 20px 0px black; */
    }
    #p1,#p2{
        display: none;
    }
    nav{
        height: 10%;
    }
    nav .left{
        width: 10%;
    }
    nav .right{
        width: 40px;
        margin-left: 3px;
    }
    .icon{
        height: 30px;
        width: 30px;
    }
    nav .right .icon{
        display: none;
    }
    nav .right .prop{
        display: flex;
    }
    nav .center {
        height: 50%;
        width: 90vw;
    }
    nav .center .input {
        height: 100%;
    }
    .s1content{
        height: 40px;
        width: 100px;
        font-size: 15px;
    }
    .s1content i{
        font-size: 20px;
        margin: 0px 8px;
    }

}